/***************************************************************
****                        GERAL                           ****
COLORS
main: 		011323 (dark blue)
secondary: 	EF921A (orange)
Background:	f2f2f2 (light grey)
***************************************************************/
*{
	margin: 0;
	padding: 0;
}
html, body{
	height		: 100%;
	z-index		: 1;
	text-align	: center;
	background-color: #f2f2f2;
}

.geral{
	position:relative;
	min-height:100%;
    width: 100%;
	overflow: hidden; 
}
.wrap{
	margin-bottom: 114px;	/* 104px do rodapé + 10px de espaçamento */
}
@media only screen and  (max-width:480px){
	.wrap{margin-bottom: 137px;}
}
p{
	font-size:1.2em;
}
/***************************************************************
****                  NAVBAR E RODAPÉ                       ****
***************************************************************/
.navbar{
	background-color: #04182A;
	width: 98%;	/* 100% em mobile */
	margin: 7px auto;
	box-shadow: 2px 2px 10px black;
	border: none;
	
}
.navbar-brand{
	font-size: 2em;
}
.navbar a{
	cursor: pointer;
	color: white !important;
}
.navbar a:hover{
    color: orange!important;
}
.rodape{
	padding-bottom: 10px;
	
	position:absolute;
    bottom:0;
    width:100%;
	
	background-color: #04182A;	
	border-top:1px solid rgb(150, 150, 150);
}
.rodape p{
	margin-top: 10px;
	margin-bottom: -10px;
	font-size: 1.2em;
	color: #f2f2f2;
}
@media (max-width: 480px){
	.rodape p{
		display: none;
	}
}
.rodape a{
	font-size: 2.5em;
	margin: 0px 3px 3px 3px;
	color: #f2f2f2;
	text-decoration:none;
	transition: 0.2s;
}
.rodape a:hover{
	color: orange;
	transition: 0.2s;
}

/***************************************************************
****                    MAIN CONTENT                        ****
***************************************************************/

h1{
	display: inline-block;
	font-size: 30px;
	font-family: 'roboto', sans-serif;
	font-weight: 300;                       /* Não sei se precisa */
	border-bottom: #EF921A solid 2px;
}
.btn-primary{
	background-color: #03447c;
	border-color: #03447c;
	color: #f2f2f2;
	float: right;
}
.btn-primary:hover{
	background-color: #02284A;	
		color: white;
}

/***************************************************************
****                       TABLE                            ****
***************************************************************/
section#data-hub{
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 20px;

}
@media (max-width: 992px){
	section#data-hub{width: 80%;}	
}
@media (max-width: 480px){
	section#data-hub{width: 100%;}
}
#data-hub  thead th{
	text-align: center;
	background-color: #051A2D;	
	color: #EF921A;
	font-size: 1.1em;
}
#data-hub tbody{
  background-image: linear-gradient(to right, #02284A, #03447c);
	color: white;
	font-size: 1.05em;
}
#data-hub tbody tr:hover{
	background-color: #051A2D;
}